{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  },
  "plugins": ["react"],
  "extends": ["standard", "standard-react"],
  rules: {
    'react/jsx-boolean-value': 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
