{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  },
  "extends": ["standard", "standard-react", "plugin:react/recommended"],
  rules: {
    'react/jsx-boolean-value': 0
  }
}
